@import url(~react-select/dist/react-select.css);
html, body, .container-fluid, .row {
  height: 100%; }

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 300px;
  width: 520px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-bottom: 20px; }

img {
  height: 300px;
  width: 520px; }

.sidebar {
  background-color: #f5f5f5;
  margin-top: 51px; }

.active {
  background: #428bca !important;
  color: black !important; }

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #f5f5f5; } }
